@use "../Strife.scss" as Strife;

@media(min-width: 760px){
    .App{
        // display: grid;
        display: flex;
        // grid-template-columns: 22rem 1fr 15rem;
        // flex-flow: row nowrap;
        // align-items: stretch;
        min-width: 100vw;
    }
}
@media(max-width: 760px){
    .App{
        display: grid;
        grid-template-columns: 1fr;
        // flex-flow: row nowrap;
        // align-items: stretch;
        min-width: 100vw;
    }
    .sidebar{
        display: none !important;
    }
    .sidebar__members{
        display: none !important;
    }
}
