@use "../Strife.scss" as Strife;
// $primary: blue;
.wrapper{
    align-items: center;
    display: grid;
    grid-template-rows: 0.5fr 10fr;
    height: 100vh;
    // justify-content: center;
    width: 100vw;
}
.auth-container{
    background-color: Strife.$secondary;
    margin: 0 auto;
    border-radius: 10px;
    color: Strife.$primary;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    padding: 1.5rem 4rem 2rem 4rem;
    min-width: 256px;
    width: 20rem;
    max-width: 40vw;
    h2{
        font-weight: 300;
    }
    .input{
        color: Strife.$primary !important;
        margin: 0 0 1rem 0;
        .MuiInputBase-root::after,.MuiInputLabel-root::after{
            border-bottom: 2px solid Strife.$accent !important;
        }
        input{
            color: Strife.$primary;
        }
    }
    .MuiButtonBase-root{
        background-color: Strife.$accent !important;
        height: 3rem;
    }
    label{
        color: Strife.$primary !important;
        filter: opacity(0.7) !important;
    }
    .register{
        filter: opacity(0.7);
        font-size: 0.875rem;
        a{
            color: Strife.$accent;
        }
    }
}
.logo{
    margin: 0 0 0 2rem;
    display: flex;
    *{
        color: Strife.$secondary;
    }
}
.error{
    p{
        color: Strife.$accent;
    }
}