@use "../Strife.scss" as Strife;

.Chat{
    display: grid;
    // display: flex;
    // flex-flow: column;
    flex: 5 0 0;
    grid-template-rows: 0.5fr 10fr 1fr;
    height: 100vh;
    overflow:hidden;
}
.text__area{
    // flex: 16 0 auto;
    display: flex;
    flex-flow: column;
    grid-row: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar{
        width: 6px;
    }
    &::-webkit-scrollbar-track{ 
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.11);
        margin: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: rgba(128, 128, 128, 0.308);
        border-radius: 20px;
        width: 6px;  
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgb(114, 114, 114); 
    }
    .channel__content{
        flex: 20 0 auto;
        margin: 1rem 1rem 0.5rem 1rem;
        // padding: 0 1rem;
    }
    .load__previous{
        min-height: 1rem;
    }
}
.chat__header{
    align-items: center;
    box-shadow: Strife.$bottom-shadow;
    display: flex;
    flex: 1 0 auto;
    flex-flow: row;
    grid-row: 1;
    justify-content: flex-start;
    max-height: 2rem;
    min-height: 50px;
    *{
        display: flex;
        margin: 1rem;
    }
    .channel__info{
        align-items: center;
        display: flex;
        flex: 1 0 auto;
        flex-flow: row;
        justify-content: flex-start;
        margin: 0;
        .channel__name{
            align-items: center;
            display: flex;
            font-weight: 500;
            .channel__hash{
                color: Strife.$channels-default;
                filter: brightness(0.7);
                font-size: 25px;
                font-weight: 400;
                margin: 0 10px 0 4px;
            }
        }
        .channel__description{
            color: Strife.$channels-default;
            filter: brightness(0.8);
        }
    }
    .spacer{
        flex: 2 2 auto;
    }
    .channel__tools{
        margin: 0;
    }
}
.message__box{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 5px 20px;
    width: 100%;
    *{
        font-size: 14px;
    }
    &:hover{
        background-color: Strife.$message-hover-highlight;
    }
    .message{
        align-items: center;
        display: flex;
        flex: 1 1 0;
        flex-flow: row;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
        .message__content{
            margin: 0 10px;
        }
        .message__info{
            align-items: flex-start;
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            margin: 0 20px 0 20px;
            overflow: hidden;
            .message__user{
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.375rem;
                margin: 0;
            }
            .message__timestamp{
                filter: opacity(0.8);
                font-size: 0.75rem;
                font-weight: 400;
                line-height: 1.375rem;
                margin: 0 10px;
            }
            .message__content{
                margin: 1px 0;
                overflow-wrap: break-word;
                width: 100%;
            }
        }
    }
}

.user__input{
    align-items: center;
    display: flex;
    grid-row: 3;
    justify-content: center;
}
.text__input{
    flex: 1 1 auto;
    margin: 0 2rem 0 2rem !important;
}