@use "../Strife.scss" as Strife;

.Chat{
    display: flex;
    flex-flow: column;
    flex: 4 0 auto;
    height: 100vh;
}
.text__area{
    
    flex: 16 1 auto;
}
.user__input{
    flex: 1 1 auto;
}