@use "../Strife.scss" as Strife;

.Guild__List{
    display: flex;
    flex-flow: column nowrap;
    background-color: Strife.$background;
    min-width: 72px;
    flex: 1 1 auto;
    overflow:hidden;
    *{
        color: Strife.$primary;
    }
}