@use "../Strife.scss" as Strife;

.sidebar{
    background-color: Strife.$secondary;
    display: flex;
    flex: 1 0 auto;
    // width: 20rem;
    max-width: 22rem;
    min-height: 100vh;
    min-width: 5rem;
    *{
        color: Strife.$primary;
    }
    .info{
        display:flex;
        flex: 10 0 0;
        flex-flow: column nowrap;
        // width: 240px;
        min-width: 0;
    }
}
.guild__info{
    flex: 16 0 auto;
}
.guild__options{
    align-items: center;
    border-bottom: 1px solid Strife.$background;
    box-shadow: Strife.$bottom-shadow;
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    max-height: 2rem;
    min-height: 50px;
    .guild__name{
        flex: 1;
        font-size: 1.075rem;
        font-weight: 500;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .guild__header{
        align-items: center;
        background-color: Strife.$secondary;
        cursor: pointer;
        display: flex;
        flex: 1 1 auto;
        overflow: hidden;
        padding: 0 16px;
        transition: filter .1s linear;
        &:hover{
            filter:brightness(1.2);
        }
    }
}
.guild__channels{
    align-items: center;
    display: flex;
}
.channel{
    background-color: Strife.$secondary;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 1rem 0 1rem;
    &:hover{
        background-color: Strife.$channel-hover-highlight;
    }
    *{
        color: Strife.$channels-default;
        &:hover{
            color: Strife.$channels-hover;
        }
    }
    .channel__name{
        align-items: center;
        display: flex;
        line-height: 20px;
        margin: 2px 0;
        overflow: hidden;
        padding: 6px 0;
    }
    .channel__hash{
        font-size: 24px;
        font-weight: 400;
        margin: 0 6px;
    }
    .channel__nameText{
        flex: 1;
        font-size: 15px;
        font-weight: 400;
        letter-spacing: 0.25px;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.category__container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    width: 100%;
}
.category{
    align-items: center;
    cursor: pointer;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    height: 24px;
    justify-content: space-between;
    overflow: hidden;
    padding-top: 10px;
    *{
        overflow: hidden;
    }
    .category__name{
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.25px;
        line-height: 16px;
        margin: 0;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;

    }
    .category__expand{
        margin: 5px !important;
        // cursor: pointer;
        .MuiSvgIcon-fontSizeSmall{
            font-size: 1rem;
        }
    }
    .category__header{
        align-items: center;
        display: flex;
        filter: opacity(0.6);
        &:hover{
            filter: opacity(0.9) !important;
        }
    }
    .category__add{
        filter: opacity(0.6);
        margin: 5px;
        padding-right: 6px;
        &:hover{
            filter: opacity(1) !important;
        }
    }
}
.user__info{
    align-items: center;
    background-color: Strife.$background;
    display: flex;
    flex: 0;
    justify-content: space-between;
    padding: 10px;
    *{
        color: Strife.$channels-default;
    }
    .user__avatar{
        height: 32px !important;
        width: 32px !important;
    }
    .user__details{
        flex: 1;
        padding: 5px 10px;
    }
    .username{
        color: white;
        font-size: 14px;
        margin: 0;
        text-align: left;
    }
    .user__tag{
        font-size: 12px;
        margin: 0;
        text-align: left;
        // color: Strife.$channels-default;
    }
    .user__controlIcons{
        align-items: center;
        display: flex;
        justify-content: space-between;
        *{
            color: Strife.$channels-default;
            cursor: pointer;
            padding: 1px 4px;
            &:hover{
                color: Strife.$channels-hover;
            }
        }
    }
}

.sidebar__members{
    background-color: Strife.$primary-foreground;
    display: flex;
    filter: opacity(0.8);
    flex: 1 0 auto;
}