@use "../Strife.scss" as Strife;

.sidebar{
    background-color: Strife.$secondary;
    
    min-height: 100vh;
    display: flex;
    flex-basis: auto;
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 5rem;
    width: 20rem;
    max-width: 25rem;
    *{
        color: Strife.$primary;
    }
    .info{
        flex: 3 0 auto;
        display:flex;
        flex-flow: column nowrap;
    }
}
.guild__info{
    flex: 16 0 auto;
}
.user__info{
    flex: 1 1 auto;
    background-color: Strife.$background;
}

.sidebar__members{
    background-color: Strife.$primary-foreground;
    filter: opacity(0.8);
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
}