$primary: #ffff;
$secondary: #2c2f33;
$channel-hover-highlight: rgba(79,84,92,0.16);
$message-hover-highlight: rgba(6,6,7,0.02);
$background: #23272a;
$accent: rgb(235, 81, 81);
$primary-foreground: rgb(245, 245, 245);
$bottom-shadow: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
$channels-default: #8e9297;
$channels-hover: #dcddde;


*{
  // font-family: "Ubuntu";
  text-decoration: none;
//   color: $secondary;
}

// .App {
//   text-align: center;
// }
