$primary: #ffff;
$secondary: #2c2f33;
$background: #23272a;
$accent: rgb(235, 81, 81);
$primary-foreground: rgb(245, 245, 245);

*{
  // font-family: "Ubuntu";
  text-decoration: none;
  color: $secondary;
}

.App {
  text-align: center;
}
